.main-container{
    background-color: aquamarine;
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 700px;
    
    margin : 15px auto
    
}


.input-container{
    display:flex ;
    flex-direction: row;
    width : 100%;
    
}

.content-box {
    display :flex ;
    height: 400px;
}


input {
    display :flex ;
    margin : 0px auto
    
}


.translation-buttons {
    display: flex;
}


::placeholder {
    color: rgb(192, 192, 195);
    font-size: 1.5em;
  }

