#white-row {
    background-color: rgb(255, 255, 255);
}

#grey-row {
    background-color: rgb(160, 235, 141) ;
}


.thead , 
tr {
    background-color : grey
}





tr , 
td  {
    
    white-space:  nowrap;
    width: 20%;
    overflow-wrap : break-word ;
    padding : 0.5rem
}


.table-container {
    position : relative ;
    width : 75% ;
}


.fixed-table {
  
   display:  block;
    height : 400px ;
    width: 100% ;
    overflow-y: scroll;
}
